<html>
<head>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>Heart</title>
</head>
<body>

<!--<img src="files/sgib.png" class="sgib_img">-->
<div class="wrap">
<div class="heart_menu">

    <img src="files/heart_alfa.png" class="heart_menu__img" usemap="#map">

    <map name="map" id="map">
        <area id="ar1" shape="poly" coords="94,146,94,146,62,168,59,198,67,212,96,219,99,215,113,219,137,217,159,207,173,194,178,179,171,163,154,169,135,154,117,167,109,163" href="#1" alt="">
        <area id="ar2" shape="poly" coords="39,115,39,115,38,161,46,185,48,184,48,184,60,198,62,198,62,198,58,172,75,152,88,143,66,104" href="#2" alt="">

        <area shape="poly" coords="145,103,145,103,136,147,147,163,149,165,150,166,150,166,166,164,178,155,174,122,169,108,159,101" href="#3" alt="">
        </map>
    <div class="heart_menu__text">

        / Рахим итегез / Мин кая? / Маршрут построен / КварталА /
        / Дуслар / Бугульма /
        / Место силы –> / Парк Горького / Зур Кызыл / Щапова, 18 /
        / I&I / Фукса сад / Гастроном / На Булак / Лядской сад /
        / Маяковского / Карла Маркса / Муштари / НКЦ / Мирумир /
        / Сковородка / Нижний Кабан / На Черное озеро / И алга! /
    </div>
    <!--<div class="heart_menu__text2">-->
        <!--<h4> о Вас.</h4>-->
        <!--Алабама рекордс презент. Зе бест оф фичерс онли он аур шоу! Модерн спичс энд бекдорс релейтед. Донт вори абаут энисинг! )</p>-->
    <!--</div>-->
<!--<button>dd</button>-->

    </div>
</div>
<!--<div class="start_text">-->
    <!--<img src="files/start_text.png" class="start_text_img">-->
<!--</div>-->

<!--https://codepen.io/dudleystorey/pen/knqyK-->
<video autoplay style="display: block"   id="bgvid" loop>
    <source src="files\kazan_video_glav.mp4" type="video/mp4">
</video>

<div class="footer_custom">
   <div style="padding: 40px"> (с)The heart of Kazan is not the Kremlin </div>
</div>

<script>
//    var vid = document.getElementById("bgvid");
//    var pauseButton = document.querySelector(".start_text ");
//
//    function vidFade() {
//        vid.classList.add("stopfade");
//    }
//
//    vid.addEventListener('ended', function()
//    {
//// only functional if "loop" is removed
//        vid.pause();
//// to capture IE10
//        vidFade();
//    });

$(document).ready(function () {

    });


</script>
</body>
</html>