<html>
<head>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>


    <title>Generator Marshrutov</title>
</head>
<body class="body-gen" ng-app>
<span onload=""></span>
<div class="gen_block">

    <div class="">
        <a href ng-click="gen_block__img = !gen_block__img">
            <img src="files/gen_test_dom.jpg" class="gen_block__img">
            </a>
    </div>
    <div class="">

            <img src="files/gen_test_dom.jpg" class="gen_block__img--big" ng-show="gen_block__img">

    </div>

    <a href ng-click="gen_block__text = !gen_block__text"><h5>Текст</h5><br/>
        Я люблю лазить по дворам старых домов, зачастую предназначенные под снос или "реставрируемые". Каждый такой двор...
    </a>
    <div class="gen_block__text" ng-show="gen_block__text">"Есть в Казани улочки похожие на телепорт или на машины времени. К ним не ведут большие трассы и вход в них не обозначен массивными строениями, но оказавшись там, попадаешь будто в другой город или даже в другое время. Некоторые из них находятся на моей любимой улице Айвазовского. Сама по себе она очень приятная, тихая и самобытная, но если повернуть на Овражную вашему взору откроется совсем другой мир – густо застроенная улица с огромными особняками, ограниченными по всему периметру глухими заборами, которые усыпаны камерами. Все это наводят на мысль, что ты попал в покои "большого брата". И тут же, рядом, телепорт в "Русскую Индию". Полуразрушенные трущобы с аутентичными колоритными дворами и нестандартной планировкой всего, начиная от дома и заканчивая образом мышления его обитателей. От этого захватывает дух.

        Я люблю лазить по дворам старых домов, зачастую предназначенные под снос или "реставрируемые". Каждый такой двор несет свою атмосферу – уникальную и неповторимую. Один из таких находится на улице Горького.
        Необычный дом, с зеленым двором. Старые двери с номерами квартир, надписью ПОЧТА(мое любимое). Они выполнены совершенно неподражаемым шрифтом.
        К слову, через этот дом можно выйти к стройке и посмотреть на "скелет" бывшего дет.сада."
    </div>

</div>
<p>sdsc</p>
</body>
</html>